# Task 1:

Given DataFRame:
  letter  value 
0      A      0 
1      A      1 
2      B      2 
3      B      3 
4      B      4 
5      C      5 
6      C      6 
7      C      7 
8      C      8 


Expected output:

Pivot_Values	value 0	value 1	value 2	value 3
letter				
A	0.0	1.0	NaN	NaN
B	2.0	3.0	4.0	NaN
C	5.0	6.0	7.0	8.0

In [3]:
import pandas as pd
df = pd.DataFrame({"letter":['A','A','B','B','B','C','C','C','C'],"value":[0,1,2,3,4,5,6,7,8]})
df['Pivot_Values'] = ['value 0','value 1','value 0','value 1','value 2','value 0','value 1','value 2','value 3']
print(df)
table = pd.pivot_table(df, values='value', index=['letter'], columns=['Pivot_Values'])
table

  letter  value Pivot_Values
0      A      0      value 0
1      A      1      value 1
2      B      2      value 0
3      B      3      value 1
4      B      4      value 2
5      C      5      value 0
6      C      6      value 1
7      C      7      value 2
8      C      8      value 3

Pivot_Values  value 0  value 1  value 2  value 3
letter
A                 0.0      1.0      NaN      NaN
B                 2.0      3.0      4.0      NaN
C                 5.0      6.0      7.0      8.0

# Task 2:

In [35]:
import pandas as pd

df = pd.read_csv(r"trd.csv")
print(df)

    User                                 ID_Proof_Submitted
0  user1             $$panCard$$aadharCard$$GST_Certificate
1  user2                   $$panCardsgiven$$GST_certificate
2  user3  $$panCard$$aadhar_Cards_provided$$GST_Certific...
3  user4  $$panCard$$aadharCard$$GST_Certificate$$HelloW...
4  user5  $$aadharCard is given by the user$$GST_Certifi...
5  user6              aadharCard$$GST_Certificate$$pan_card

In [54]:
df['is_valid'] = ((df['ID_Proof_Submitted'].str.contains('aadhar', case=False)) & (df['ID_Proof_Submitted'].str.contains('GST_certificate', case=False)) & (df['ID_Proof_Submitted'].str.contains('pan', case=False))).astype(int)
print(df)

    User                                 ID_Proof_Submitted  is_valid
0  user1             $$panCard$$aadharCard$$GST_Certificate         1
1  user2                   $$panCardsgiven$$GST_certificate         0
2  user3  $$panCard$$aadhar_Cards_provided$$GST_Certific...         1
3  user4  $$panCard$$aadharCard$$GST_Certificate$$HelloW...         1
4  user5  $$aadharCard is given by the user$$GST_Certifi...         0
5  user6              aadharCard$$GST_Certificate$$pan_card         1